{{ form_start(form) }}
{% form_theme form with ['form_div_layout.html.twig'] %}



    {{ form_row(form.PlayDate) }}
    
    {{ form_row(form.Format) }}


    <div id = "players_section">


      

    </div>
    <ul class="GamePlayers" data-prototype="{{ form_widget(form.GamePlayers.vars.prototype)|e('html_attr') }}"></ul>
    <button type="button" class="add_item_link" data-collection-holder-class="GamePlayers">Add Player</button>

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
