{% extends 'base.html.twig' %}

{% block title %}Commanders{% endblock %}

{% block body %}
    <div class = "container">
        <h1>Commanders</h1>
        <div class = "row">
            <div class = "col-8">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Full Card</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for commander in commanders %}
                        <tr>
                            <td>{{ commander.id }}</td>
                            <td>{{ commander.Name }}</td>
                            <td><a href = '{{ commander.ScryfallURL }}' target='_blank'>View Card</a></td>
                            <td>
                                <a href="{{ path('commander_show', {'id': commander.id}) }}">Show</a>
                                <a href="{{ path('commander_edit', {'id': commander.id}) }}">Edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <a class = 'btn btn-primary' href="{{ path('commander_new') }}">Create new</a>
    </div>
{% endblock %}
