{% extends 'base.html.twig' %}

{% block title %}Game Stats{% endblock %}
{% block extra_js %}

    <script>
        //var data = {a: 9, b: 20, c:30, d:8, e:12}
        //var player_data = { {% for rank in player_overall_ranks %}{{rank.name}}:{{rank.win_ratio}},{% endfor %} }
        var player_data = { {% for rank in player_overall_ranks %}{{rank.name}}:{"Name":"{{rank.name}}","WinRatio":{{rank.win_ratio}},"NumWins":{{rank.num_wins}}},{% endfor %} }
        var color_data = { {% for rank in color_ranks %}{{rank.name}}:{"Name":"{{rank.name}}","WinRatio":{{rank.win_ratio}},"NumWins":{{rank.num_wins}}},{% endfor %} }

    </script>

    {{ encore_entry_script_tags('stats') }}

{% endblock %}
{% block body %}
    <h1>Game Stats</h1>

    <table>
        <tr rowspan="4">
            <td>Player Ranks</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Number Games</td>
            <td>Number Wins</td>
            <td>Win Ratio (%)</td>
        </tr>
        {% for rank in player_ranks %}
            <tr>
                <td>{{rank.name}}</td>
                <td>{{rank.num_games}}</td>
                <td>{{rank.num_wins}}</td>
                <td>{{rank.win_ratio}}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}        

    </table>

    <br />
    <br />
    <table>
        <tr rowspan="4">
            <td>Deck Ranks</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Number Games</td>
            <td>Number Wins</td>
            <td>Win Ratio (%)</td>
        </tr>
        {% for rank in deck_ranks %}
            <tr>
                <td>{{rank.name}}</td>
                <td>{{rank.num_games}}</td>
                <td>{{rank.num_wins}}</td>
                <td>{{rank.win_ratio}}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %} 
    </table>

    <br />
    <br />
    <table>
        <tr rowspan="4">
            <td>Best Colors</td>
        </tr>
        <tr>
            <td>Color</td>
            <td>Number Games</td>
            <td>Number Wins</td>
            <td>Win Ratio (%)</td>
        </tr>
        {% for rank in color_ranks %}
            <tr>
                <td>{{rank.name}}</td>
                <td>{{rank.num_games}}</td>
                <td>{{rank.num_wins}}</td>
                <td>{{rank.win_ratio}}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}                       

    </table>

    <p>Total games: {{total_games}}</p> 
    <button id ="data1_btn">Data 1</button>   
    <button id ="data2_btn">Data 2</button>

    <button id ="bar_data1_btn">Bar Data 1</button>   
    <button id ="bar_data2_btn">Bar Data 2</button>    

    <div id="pie_chart_placeholder"></div>
    <div id="bar_chart_placeholder"></div>
{% endblock %}
