{% extends 'base.html.twig' %}

{% block title %}Game Stats{% endblock %}
{% block extra_js %}

    <script>
        //var data = {a: 9, b: 20, c:30, d:8, e:12}        

        var player_data = { {% for rank in player_ranks %}{{rank.name}}:{"Name":"{{rank.name}}","WinRatio":{{rank.win_ratio}},"NumWins":{{rank.num_wins}},"NumGames":{{rank.num_games}} },{% endfor %} }
        var player_overall_data = { {% for rank in player_overall_ranks %}{{rank.name}}:{"Name":"{{rank.name}}","WinRatio":{{rank.win_ratio}},"NumWins":{{rank.num_wins}}},{% endfor %} }

        var deck_data = { {% for rank in deck_ranks %}"{{rank.name|raw}}":{"Name":"{{rank.name|raw}}","WinRatio":{{rank.win_ratio}},"NumWins":{{rank.num_wins}},"NumGames":{{rank.num_games}} },{% endfor %} }
        var deck_overall_data = { {% for rank in deck_overall_ranks %}"{{rank.name|raw}}":{"Name":"{{rank.name|raw}}","WinRatio":{{rank.win_ratio}},"NumWins":{{rank.num_wins}}},{% endfor %} }

        var color_data = { {% for rank in color_ranks %}"{{rank.name}}":{"Name":"{{rank.name}}","WinRatio":{{rank.win_ratio}},"NumWins":{{rank.num_wins}},"NumGames":{{rank.num_games}} },{% endfor %} }
        var color_overall_data = { {% for rank in color_overall_ranks %}"{{rank.name}}":{"Name":"{{rank.name}}","WinRatio":{{rank.win_ratio}},"NumWins":{{rank.num_wins}}},{% endfor %} }

        var commander_data = { {% for rank in commander_ranks %}"{{rank.name|raw }}":{"Name":"{{rank.name|raw}}","WinRatio":{{rank.win_ratio}},"NumWins":{{rank.num_wins}},"NumGames":{{rank.num_games}} },{% endfor %} }
        var commander_overall_data = { {% for rank in commander_overall_ranks %}"{{rank.name|raw}}":{"Name":"{{rank.name|raw}}","WinRatio":{{rank.win_ratio}},"NumWins":{{rank.num_wins}}},{% endfor %} }

        var most_popular_decks = { {%for rank in most_popular_decks %} "{{rank.name|raw}}": {  "Name":"{{rank.name|raw}}","NumPlays":{{rank.num_plays}}       },    {% endfor %}   }
        var most_popular_commanders = { {%for rank in most_popular_commanders %} "{{rank.name|raw}}": {  "Name":"{{rank.name|raw}}","NumPlays":{{rank.num_plays}}       },    {% endfor %}   }
        var most_popular_colors = { {%for rank in most_popular_colors %} "{{rank.name|raw}}": {  "Name":"{{rank.name|raw}}","NumPlays":{{rank.num_plays}}       },    {% endfor %}   }

        var most_ramped_players = { {%for rank in most_ramped_players %} "{{rank.name|raw}}": {  "Name":"{{rank.name|raw}}","NumRamps":{{rank.num_ramps}}       },    {% endfor %}   }

        var color_identities =  [{%for color in color_identities %}"{{color.ComboName|lower}}",{% endfor %}] 

    </script>

    {{ encore_entry_script_tags('stats') }}

{% endblock %}
{% block body %}


    <div class="container">
        <div class="row">
            <div class = "page-header">
                <h1>Game Stats</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <div class ="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h4>General Stats</h4>
                    </div>
                    <div class="card-body">
                        <table style="margin-bottom:50px" class = "table table-hover">

                            <tr>
                                <td>
                                    Total Games Played
                                </td>
                                <td>
                                    {{total_games}} 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Total Games Played ((c)EDH)
                                </td>
                                <td>
                                    {{total_edh_games}} 
                                </td>
                            </tr>        
                            <tr>
                                <td>
                                    Average Number of Turns
                                </td>
                                <td>
                                    {{avg_game_length}}
                                </td>
                            </tr> 
                            <tr>
                                <td>
                                    Average Number of Turns ((c)EDH)
                                </td>
                                <td>
                                    {{avg_game_length_edh}}
                                </td>
                            </tr>         
                            <tr>
                                <td>
                                    Percent of Games Won with First/Second Turn Sol Ring
                                </td>
                                <td>
                                    {{percent_sol_wins}}%
                                </td>
                            </tr>                 
                        </table>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">

            <!-- Pie Chart -->
            <div class="col-xl-67 col-lg-6">
                <div class="card shadow mb-4">
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Stats by Proportion</h6>

                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Chart</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><button type = "button" id ="pie-wins-by-player" class = "btn btn-primary btn-sm">Total Games Won by Player</button></li>
                                <li><button type = "button"  id ="pie-wins-by-color" class = "btn btn-primary btn-sm">Total Games Won by Color</button></li>
                                <li><button type = "button"  id ="pie-wins-by-deck" class = "btn btn-primary btn-sm">Total Games Won by Deck</button></li>
                                <li><button type = "button"  id ="pie-wins-by-commander" class = "btn btn-primary btn-sm">Total Games Won by Commander</button></li>
                            </ul>
                        </div>

                    </div>
                    <!-- Card Body -->
                    <div class="card-body chart-placeholder">
                        <div class="chart-area">
                            <div id="pie_chart_placeholder"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Bar Chart -->
            <div class="col-xl-6 col-lg-6">
                <div class="card shadow mb-4">
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Stats by Rate</h6>

                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Chart</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><button id ="bar-win-rate-player" class = "btn-primary btn-sm">Win Rate by Player</button></li>
                                <li><button id ="bar-win-rate-color" class = "btn-primary btn-sm">Win Rate by Color</button></li>  
                                
                                <li><button id ="bar-win-rate-deck" class = "btn-primary btn-sm">Win Rate by Deck</button></li>
                                <li><button id ="bar-win-rate-commander" class = "btn-primary btn-sm">Win Rate by Commander</button></li>
                                
                                <li><button id ="bar-popular-decks" class = "btn-primary btn-sm">Most Played Decks</button></li>
                                <li><button id ="bar-popular-commanders" class = "btn-primary btn-sm">Most Played Commanders</button></li>
                                
                                <li><button id ="bar-popular-colors" class = "btn-primary btn-sm">Most Played Colors</button></li>
                                
                                <li><button id ="bar-ramped_players" class = "btn-primary btn-sm">Most Ramped Players</button></li>
                            </ul>
                        </div>

                    </div>
                    <!-- Card Body -->
                    <div class="card-body chart-placeholder">
                        <div class="chart-area">
                            <div id="bar_chart_placeholder"></div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        

        <!-- Space for data table -->        
        <div class = "row">

            <div class="col-xl-6 col-lg-6">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <div id="pie-chart-table-button-holder" class = "button_holder">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <div id="bar-chart-table-button-holder" class = "button_holder">
                        </div>
                    </div>
                </div>
            </div>            

        </div>
        
    </div>


{% endblock %}
