{% extends 'base.html.twig' %}

{% block title %}Game Stats{% endblock %}
{% block extra_js %}

    <script>
        //var data = {a: 9, b: 20, c:30, d:8, e:12}        
        var player_data = { {% for rank in player_overall_ranks %}{{rank.name}}:{"Name":"{{rank.name}}","WinRatio":{{rank.win_ratio}},"NumWins":{{rank.num_wins}}},{% endfor %} }
        var color_data = { {% for rank in color_ranks %}{{rank.name}}:{"Name":"{{rank.name}}","WinRatio":{{rank.win_ratio}},"NumWins":{{rank.num_wins}}},{% endfor %} }

    </script>

    {{ encore_entry_script_tags('stats') }}

{% endblock %}
{% block body %}
    <h1>Game Stats</h1>

    <h4>General Stats</h4>
    <table style="margin-bottom:50px">
        <tr>
            <td>
                Metric
            </td>
            <td>
                Value
            </td>
        </tr>
        <tr>
            <td>
                Total Games Played
            </td>
            <td>
                {{total_games}}
            </td>
        </tr>
        <tr>
            <td>
                Average Number of Turns
            </td>
            <td>
                {{avg_game_length}}
            </td>
        </tr> 
        <tr>
            <td>
                Percent of Games Won with First/Second Turn Sol Ring
            </td>
            <td>
                {{percent_sol_wins}}%
            </td>
        </tr>                 
    </table>
    


    

    <div class="visualization">
        <button id ="data1_btn">Data 1</button>   
        <button id ="data2_btn">Data 2</button>
        <div id="pie_chart_placeholder" ></div>
    </div>
    <div class="visualization">
        <button id ="bar_data1_btn">Bar Data 1</button>   
        <button id ="bar_data2_btn">Bar Data 2</button>    
        <div id="bar_chart_placeholder"></div>
    </div>
{% endblock %}
