{% extends 'base.html.twig' %}

{% block title %}Game Stats{% endblock %}
{% block extra_js %}

    <script>
        //var data = {a: 9, b: 20, c:30, d:8, e:12}        

        var player_data = { {% for rank in player_ranks %}{{rank.name}}:{"Name":"{{rank.name}}","WinRatio":{{rank.win_ratio}},"NumWins":{{rank.num_wins}},"NumGames":{{rank.num_games}} },{% endfor %} }
        var player_overall_data = { {% for rank in player_overall_ranks %}{{rank.name}}:{"Name":"{{rank.name}}","WinRatio":{{rank.win_ratio}},"NumWins":{{rank.num_wins}}},{% endfor %} }

        var deck_data = { {% for rank in deck_ranks %}"{{rank.name|raw}}":{"Name":"{{rank.name|raw}}","WinRatio":{{rank.win_ratio}},"NumWins":{{rank.num_wins}},"NumGames":{{rank.num_games}} },{% endfor %} }
        var deck_overall_data = { {% for rank in deck_overall_ranks %}"{{rank.name|raw}}":{"Name":"{{rank.name|raw}}","WinRatio":{{rank.win_ratio}},"NumWins":{{rank.num_wins}}},{% endfor %} }

        var color_data = { {% for rank in color_ranks %}"{{rank.name}}":{"Name":"{{rank.name}}","WinRatio":{{rank.win_ratio}},"NumWins":{{rank.num_wins}},"NumGames":{{rank.num_games}} },{% endfor %} }
        var color_overall_data = { {% for rank in color_overall_ranks %}"{{rank.name}}":{"Name":"{{rank.name}}","WinRatio":{{rank.win_ratio}},"NumWins":{{rank.num_wins}}},{% endfor %} }

        var commander_data = { {% for rank in commander_ranks %}"{{rank.name|raw }}":{"Name":"{{rank.name|raw}}","WinRatio":{{rank.win_ratio}},"NumWins":{{rank.num_wins}},"NumGames":{{rank.num_games}} },{% endfor %} }
        var commander_overall_data = { {% for rank in commander_overall_ranks %}"{{rank.name|raw}}":{"Name":"{{rank.name|raw}}","WinRatio":{{rank.win_ratio}},"NumWins":{{rank.num_wins}}},{% endfor %} }

        var most_popular_decks = { {%for rank in most_popular_decks %} "{{rank.name|raw}}": {  "Name":"{{rank.name|raw}}","NumPlays":{{rank.num_plays}}       },    {% endfor %}   }

    </script>

    {{ encore_entry_script_tags('stats') }}

{% endblock %}
{% block body %}
    <h1>Game Stats</h1>

    <h4>General Stats</h4>
    <table style="margin-bottom:50px">
        <tr>
            <td>
                Metric
            </td>
            <td>
                Value
            </td>
        </tr>
        <tr>
            <td>
                Total Games Played
            </td>
            <td>
                {{total_games}} 
            </td>
        </tr>
        <tr>
            <td>
                Total Games Played ((c)EDH)
            </td>
            <td>
                {{total_edh_games}} 
            </td>
        </tr>        
        <tr>
            <td>
                Average Number of Turns
            </td>
            <td>
                {{avg_game_length}}
            </td>
        </tr> 
        <tr>
            <td>
                Average Number of Turns ((c)EDH)
            </td>
            <td>
                {{avg_game_length_edh}}
            </td>
        </tr>         
        <tr>
            <td>
                Percent of Games Won with First/Second Turn Sol Ring
            </td>
            <td>
                {{percent_sol_wins}}%
            </td>
        </tr>                 
    </table>
    

    <div class="visualization">
        <div class = "graph-btns">
            <button id ="pie-wins-by-player">Total Games Won by Player</button>   
            <button id ="pie-wins-by-color">Total Games Won by Color</button>
            <br />
            <button id ="pie-wins-by-deck">Total Games Won by Deck</button>
            <button id ="pie-wins-by-commander">Total Games Won by Commander</button>
        </div>
        <div id="pie_chart_placeholder" ></div>
    </div>
    <div class="visualization">
        <div class = "graph-btns">
            <button id ="bar-win-rate-player">Win Rate by Player</button>   
            <button id ="bar-win-rate-color">Win Rate by Color</button>  
            <br />  
            <button id ="bar-win-rate-deck">Win Rate by Deck</button>
            <button id ="bar-win-rate-commander">Win Rate by Commander</button>
        </div>
        <div id="bar_chart_placeholder"></div>
    </div>
{% endblock %}
